<div class="z_top_container">
    <div class="z_top b-header-blur b-header-blur-black">
        <div class="b-header-mask-wrp">
            <div class="b-header-mask-bg" style="background-image: url(&quot;//i0.hdslb.com/bfs/archive/4f59bf959d51592016e07efe62969c411288826a.png&quot;);"></div>
            <div class="b-header-mask"></div>
        </div>
        <div class="z_header">
            <div class="z_top_nav">
                <ztop-nav></ztop-nav>
            </div>
        </div>
    </div>
</div>