<ul class="nav-menu">
    <li class="m-i home"><a class="i-link" href="//www.bilibili.com"><em>首页</em></a></li>
    <li *ngFor="let tag of tags" class="m-i"><a class="i-link" href="//www.bilibili.com"><em>{{tag.name}}</em></a></li>
    <li class="m-i m-i-square m-i-ex"><a class="i-link" href="//www.bilibili.com/square"><em>广场</em></a></li>
    <li class="m-i m-i-live m-i-last"><a class="i-link" href="//live.bilibili.com"><em>直播</em></a></li>
    <li class="m-i m-i-blackroom"><a class="i-link" href="//www.bilibili.com/blackroom"><em>小黑屋</em></a></li>
</ul>