<div class="float_window"><div class="close"></div><div id="float_window"></div></div>
<app-z-top></app-z-top>
<div class="header" style="background-image: url('//i0.hdslb.com/bfs/archive/4f59bf959d51592016e07efe62969c411288826a.png');">
  <div class="header-layer" style="height: 170px;"></div>
  <a class="header-link" target="_blank" href="http://www.bilibili.com" style="height: 170px;"></a>
  <div class="h-center">
    <a href="/" class="logo" style="background-image: url(&quot;//i0.hdslb.com/bfs/archive/bb2aa0d954bf59d4ee555a8a603fe83888463b6b.png&quot;);"></a>
    <a href="//www.bilibili.com/random" target="_blank" title="随便找个视频看看?" class="lsb"></a>
  <div class="banner-title">哔哩哔哩&nbsp;(゜-゜)つロ 干杯~</div></div>
  <div class="num">
    <div class="menu-wrapper">
        <top-tag></top-tag>
        <div class="menu-r">
        <a id="random_p" class="random-p" target="_blank" href="http://search.bilibili.com/all?keyword=%E7%BE%BD%E7%94%9F%E7%BB%93%E5%BC%A6&amp;page=1&amp;order=click" title="羽生结弦">
            <div class="random-p-movie">
            <img src="//i0.hdslb.com/bfs/active/aa21b37ada0eaed484567b1c07870f6c82eb0a88.gif" alt="羽生结弦">
            </div>
        </a>
        </div>
        <!--<div class="search">
        <form action="//search.bilibili.com/all" id="searchform" target="_blank">
            <input name="keyword" type="text" class="search-keyword" id="search-keyword" autocomplete="off" accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="自从这群歪果仁在中国追星以后。。。" data-recommend="av9060217">
            <button type="submit" class="search-submit"></button>
        </form>
        <a class="link-ranking" href="//www.bilibili.com/ranking" target="_blank"><span>排行榜</span></a>
        </div>-->
    </div>
  </div>
</div>
